# Standard files for python projects
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# Specific files for data holding
teamHTML.txt
teamStats.txt
raw_player_stats.txt
cleaned_player_stats.txt
job_listings.txt